@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}
::-webkit-scrollbar {
  display: none;
}

#root {
    height: 100%;
    width: 100%;
    -ms-overflow-style: none;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }